# code: language=yaml
#
# Helm Release for external-secrets operator
#

{{- $chartDefaults := dict
  "serviceAccount" (dict "create" true "name" $state.serviceAccount.name)
  "resources" (dict
    "requests" (dict "cpu" "15m" "memory" "100Mi")
    "limits" (dict "cpu" "100m" "memory" "256Mi")
  )
  "certController" (dict "resources" (dict
    "requests" (dict "cpu" "15m" "memory" "100Mi")
    "limits" (dict "cpu" "100m" "memory" "256Mi")
  ))
  "webhook" (dict "resources" (dict
    "requests" (dict "cpu" "15m" "memory" "100Mi")
    "limits" (dict "cpu" "100m" "memory" "256Mi")
  ))
}}
{{- $mergedValues := mergeOverwrite $chartDefaults ($state.helm.values | default dict) }}

---
apiVersion: helm.m.crossplane.io/v1beta1
kind: Release
metadata:
  name: {{ $state.helm.releaseName }}
  annotations:
    {{ setResourceNameAnnotation "helm-external-secrets" }}
  labels: {{ $state.labels | toJson }}
spec:
  managementPolicies: {{ $state.managementPolicies | toJson }}
  forProvider:
    chart:
      name: external-secrets
      repository: https://charts.external-secrets.io
      # renovate: datasource=helm depName=external-secrets registryUrl=https://charts.external-secrets.io
      version: "2.2.0"
    namespace: {{ $state.helm.namespace }}
    values:
      {{- if $state.helm.overrideAllValues }}
      {{- toYaml $state.helm.overrideAllValues | nindent 6 }}
      {{- else }}
      {{- toYaml $mergedValues | nindent 6 }}
      {{- end }}
  rollbackLimit: 3
  providerConfigRef:
    name: {{ $state.helm.providerConfigRef.name }}
    kind: {{ $state.helm.providerConfigRef.kind }}
